.task-card-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 18px;
    background: #FFF;
    color: #404040;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.25);
    padding: 13px 13px;
}

.task-card-container .header {
    background-color: #F5F5F5;
    border-radius: 10px;
    padding: 10px 10px;
    display: flex;
    gap: 8px;
    align-items: center;
}

.task-card-container .header h1 {
    font-size: 22px;
    font-weight: 600;
}

.task-card-container .header img {
    width: 22px;
}

.task-card-container .tasks {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin: 20px 10px 10px 10px;
}

.task-card-container .tasks p {
    align-self: center;
    justify-self: center;
    color: #40404060;
}

.task-card-container .tasks div:last-child {
    border: none;
}