.task-input-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 18px;
    background: #FFF;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.25);
    padding: 10px 13px 10px 13px;
    margin: 30px 0 15px 0;
}

.input-active {
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.1), 0px 0px 10px 0px rgba(75, 42, 244, 0.20);
}

.task-input-container .left-text {
    display: flex;
    align-items: center;
    color: #4B2AF4;
    gap: 8px;
    white-space: nowrap;
    margin-left: 10px;
}

.task-input-container .left-text img {
    width: 20px;
}

.task-input-container .left-text .vl {
    height: 32px;
    border-left: 1px solid #E7E7E7;
    margin: 0 10px 0 5px;
}

.task-input-container input {
    font-size: 16px;
    width: 100%;
    max-width: 600px;
    background-color: transparent;
    outline: none;
    border: none;
    justify-self: flex-start;
}

.task-input-container input::placeholder {
    color: #999;
}

.task-input-container .buttons {
    display: flex;
    gap: 5px;
    align-items: center;
    width: 255px;
}

.task-input-container .buttons button {
    font-size: 12px;
    padding: 6px 10px;
    border-radius: 7px;
    border: 1px solid #4B2AF4;
    background: #DDD8F7;
    color: #4B2AF4;
    cursor: pointer;
}

/* Send button */
.task-input-container .buttons button:nth-child(3) {
    background-color: #4B2AF4;
    color: #DDD8F7;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 18px;
    margin-left: 10px;
    border-radius: 10px;
    border: 1px solid #E2DCFF;
    white-space: nowrap;
    transition: 0.2s;
}
.task-input-container .buttons button:nth-child(3):hover {
    filter: drop-shadow(0px 0px 5px rgba(75, 42, 244, 0.50));
    background-color: #593af5;
}

.task-input-container .buttons .inactive {
    opacity: 50%;
    border: none;
}

.task-input-container .buttons .inactive:hover {
    opacity: 70%;
}